@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    height: 75%;
    width: 75%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 4%;
    font-family: 'Press Start 2P', cursive;
}

#announcement {
    position: relative;
    top: 1%;
    border: 1px solid red;
    height: 5%;
    width: 95%;
    text-align: center;
    margin: auto;
}

#command {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid red;
    border-radius: 25px 25px 0px 0px;
    height: 40%;
    width: 95%;
}

ul {
    list-style: none;
    font-size: 22px;
    text-align: center;
    padding: 0;
    width: 25%;
    margin: auto;
    position: relative;
    top: 60px;
}

li {
    border: 1px solid white;
    padding: 10px;
}

li:hover {
    border: 1px solid red;
    cursor: pointer;
}
