@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    height: 75%;
    width: 75%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 4%;
    font-family: 'Press Start 2P', cursive;
    background-image: url('http://i.imgur.com/kaK3C.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#announcement {
    position: absolute;
    top: 1%;
    border: 1px solid red;
    height: 5%;
    width: 95%;
    text-align: center;
    margin: auto;
    color: white;
}

#command {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px 25px 0px 0px;
    height: 40%;
    width: 95%;
}

ul {
    list-style: none;
    font-size: 22px;
    text-align: center;
    padding: 0;
    width: 25%;
    margin: auto;
    position: relative;
    top: 130px;
    color: white;
}

li {
    border: 1px solid white;
    padding: 10px;
}

li:hover {
    border: 1px solid red;
    color: red;
    cursor: pointer;
}

#sorefuji {
    position: relative;
    top: 400px;
    left: 50px;
}

#james {
    position: relative;
    top: 390px;
    left: 650px;
}


/*@keyframes james {
    50% {
        top: 380px;
        right: 10px;
    }
    100% {
        top: 10px;
    }
}

.jamesattack {
    animation: james 0.5s infinite;
    animation-iteration-count: 1;
}*/
